@media screen and (max-width: 991.98px) {

    .container {
        max-width: 720px;
    }

    .toggle_btn {
        display: block;
    }
    .testi_heading h3 {
        font-size: 38px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .container {
        max-width: 960px;
    }

    .nav-item {
        padding: 0 8px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .container {
        max-width: 1200px;
    }

}
